
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,700;1,400&family=Roboto:wght@300;400;700&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Kanit', sans-serif;

}


.navbar{
background-color:#7a1c79 ;
display: grid;
grid-template-columns: repeat(8,1fr);
align-items: center;

}
.navbar .menu{
  grid-column: 3/6;
  display: flex;
  justify-content:space-between;

}

.navbar .menu li{

  list-style: none;
}

.navbar .menu a{

  text-decoration: none;
  color: white;
  cursor: pointer;
}



.imagen1{
  min-height: 10%;
width: 500px;
grid-column: 1/2;
}

.imagen2{
  min-height: 10%;
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  grid-column: 7/9;
}
