
body{
  background-image: url("../src/1.jpg");
  
}

.formulario{
  
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(11,1fr);
}

.Boton{
    /*caja*/
 color:#fff;
 background-color: #7a1c79;
 padding: 50px 10px;
 margin: 5px;
 /*texto*/
 text-decoration: none;
 font-size: 20px;
 font-size: 'Roboto', 'sans-seriff';
 text-align: center;
 font-weight: bolder;
 /*posicion*/
  grid-column: 1/3;
 border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
}

.Boton2{
    text-decoration: none;
    color:#fff;
    background-color: #7a1c79;
    padding: 50px 10px;
    font-size: 20px;
    font-size:  'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    grid-column:4/6;
}

.Boton3{
    text-decoration: none;
    color:#fff;
    background-color: #7a1c79;
    padding: 50px 10px; 
    margin: 5px;
    font-size: 20px;
    font-size:  'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    grid-column:7/9;
}

.Boton4{
    text-decoration: none;
    color:#fff;
    background-color: #7a1c79;
    padding:  50px 10px;
    margin: 5px;
    font-size: 20px;
    font-size:  'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    grid-column:10/12;
}

h1{
text-align: center;
color: white;
}



.Boton:hover {
    background-color: #310831;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}
.Boton2:hover {
    background-color: #310831;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}
.Boton3:hover {
    background-color: #310831;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}
.Boton4:hover {
    background-color: #310831;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}




